---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Projects from '../components/Projects.astro';

---

<Layout title="Emmanuel Allan Portfolio">
    
    <div class="flex flex-col items-center justify-center gap-5">
        <h1 class="text-4xl font-extrabold">My Resume </h1>
        <embed src="/files/Emmanuel Allan.pdf" type="application/pdf" width="80%" height="800px" />
      </div>
</Layout>
