---
export interface Props {
	title: string;
}
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav';


const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/avatar.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav client:load />
		<slot />
	</body>
	<Footer/>
</html>
<style is:global>
	* { 
	  padding: 0; 
	  margin: 0; 
	  box-sizing: border-box; 
	} 

	html { 
		overflow-x: hidden; 
		scroll-behavior: smooth; 
	} 

	body { 
	font-family: "Rubik", sans-serif; 
	line-height: 1; 
	font-weight: 400; 
	color: #555; 
	overflow-x: hidden; 
	} 
</style>
